<div id="case-studies" class="container large grid case-studies section">
  <div class="test case-study large memrise reveal-2">
    <div class="logo">
      <img src="assets/img/memrise-logo.svg" alt="">
    </div>
    <a href="{% post_url 2020-07-09-learning-reminders %}" class="btn outline">View case study &rarr;</a>
  </div>
  <div class="test case-study small fatllama reveal-1">
    <div class="logo">
      <img src="assets/img/fl-logo.svg" alt="">
    </div>
    <a href="{% post_url 2020-07-09-messages-per-rental %}" class="btn outline">View case study &rarr;</a>
  </div>
  <div class="test case-study small gocardless reveal-2">
    <div class="logo">
      <img src="assets/img/gc-logo.svg" alt="">
    </div>
    <a href="{% post_url 2020-07-09-merchant-onboarding %}" class="btn outline">View case study &rarr;</a>
  </div>
</div>
