<div class="container large grid case-studies margin-b240">
  <div class="case-study large memrise">
    <div class="logo">
      <img src="assets/img/memrise-logo.svg" alt="">
    </div>
    <a href="#" class="btn outline">View case study &rarr;</a>
  </div>
  <div class="case-study small fatllama">
    <div class="logo">
      <img src="assets/img/fl-logo.svg" alt="">
    </div>
    <a href="#" class="btn outline">View case study &rarr;</a>
  </div>
  <div class="case-study small gocardless">
    <div class="logo">
      <img src="assets/img/gc-logo.svg" alt="">
    </div>
    <a href="#" class="btn outline">View case study &rarr;</a>
  </div>
</div>
