<div id="design-club" class="design-club t-center section">
  <div class="container large">
    <h2>Design Club—where the <span class="title-underline">creative community</span> figures out what’s next.</h2>
    <div class="design-club--image reveal-1"></div>
    <div class="container medium">
      <p class="large">I organise quarterly design meetup Design Club, an event that brings together designers of all disciplines and experience for drinks, good times, and original talks from leaders in our field. Speakers share their work, careers, and distinct perspectives on the industry.</p>
      <div class="buttons reveal-1">
        <a href="#" class="btn btn-large secondary">Join mailing list</a>
        <a href="#" class="btn btn-large outline">Learn more</a>
      </div>
    </div>
  </div>
</div>
