<div class="design-club t-center margin-b240">
  <div class="container large">
    <h2>Design Club—where the <span class="title-underline">creative community</span> figures out what’s next.</h2>
    <div class="design-club--image"></div>
    <div class="container medium">
      <p class="large">I’ve spent my career so far as a player-coach. Someone who cares for building a healthy design team and culture, but who also contributes regularly to the craft.</p>
      <div class="buttons">
        <a href="#" class="btn secondary">Join mailing list</a>
        <a href="#" class="btn outline">Learn more</a>
      </div>
    </div>
  </div>
</div>
