<div id="get-in-touch" class="reveal-1 footer container large t-center">
  <div class="footer-box flex">
    <div class="container medium">
      <h2>Get in touch.</h2>
      <p class="large">If you think I can help you with your project, or you'd like to find out more about Design Club, then I'd love to hear from you.</p>
      <div class="contact-buttons">
        <a href="mailto:hi@samwill.is" class="btn secondary medium btn-footer reveal-1">Email me</a>
        <div class="social-buttons reveal-2">
          <a href="#" class="btn social">
            <img src="/assets/img/icons/twitter.svg" alt="">
          </a>
          <a href="#" class="btn social">
            <img src="/assets/img/icons/linkedin.svg" alt="">
          </a>
          <a href="#" class="btn social">
            <img src="/assets/img/icons/github.svg" alt="">
          </a>
          <a href="#" class="btn social">
            <img src="/assets/img/icons/dribbble.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
  <p class="final-word">Designed and built by moi.</p>
</div>
