<div class="container medium index-header">
  <h1>Hi, I'm Sam.</h1>
  <p class="large">
    I’m a London based, multi-disciplinary designer with 8 years experience. I enjoy solving complex problems and helping companies translate technology, business goals, and user needs into products and experiences customers love.
  </p>
  <div class="current-status">
    <p>
      <span class="status-indicator"></span>
      <span>Current position:</span>
      <span class="role">Design manager</span>
      <span>at</span>
      <a class="">Memrise</a>
    </p>
  </div>
</div>
