<div class="reveal-1 container medium index-header t-center align-center">
  <h1>Sam Willis, Product Designer</h1>
  <p class="large">
    I’m a London based, multi-disciplinary designer over 10 years experience. I enjoy solving complex problems and helping companies translate technology, business goals, and user needs into products and experiences customers love.
  </p>
  <div class="current-status">
    <span class="status-indicator"></span>
    <p>
      <span>Current position:</span>
      <span class="role">Product Designer</span>
      <span>@</span>
      <a href="https://duffel.com" class="header-link">Duffel</a>
    </p>
  </div>
</div>
