<div class="page">
  <div class="nav">
    <div class="nav-item">
      <span class="nav-item--primary">Sam Willis</span>
      <span class="nav-item--secondary">Product Designer</span>
    </div>
    <div class="nav-item">
      <span class="nav-item--primary">Duffel</span>
      <span class="nav-item--secondary">London, UK</span>
    </div>
  </div>
  
  <div class="content">
    <div class="half">
      <div>
        <p>Hey, I’m Sam—a product designer based in London, UK.</p>
        <p>I have over 10 years experience helping startups build design teams that turn company vision into reality, and design into a competitive advantage.</p>
        <p>I enjoy working across the design process. Whether strategy, ideation,  prototyping, or building, I love getting my hands dirty and collaborating with teams to get things done.</p>
        <p>Over the past few years I’ve been lucky enough to work with the likes of <a href="/">Duffel</a>, <a href="/">Memrise</a>, <a href="/">Incident.io</a>, <a href="/">Fat Llama</a>, <a href="/">Dependabot</a>, <a href="/">GoCardless</a>, and many more.</p>
      </div>
      <p>Want more? You can keep up with my work on <a href="/">Dribbble</a>, check out my CV on <a href="/">LinkedIn</a>, or follow me on <a href="/">Twitter</a>. You can also request a portfolio via <a href="/">email</a>.</p>
    </div>
    <div class="half"></div>
  </div>
</div>