<div class="approach t-center margin-b240">
  <div class="container medium selected-work--title">
    <h2>My approach.</h2>
    <p class="large">I’ve spent my career so far as a player-coach. Someone who cares for building a healthy design team and culture, but who also contributes regularly to the craft.</p>
  </div>
  <div class="container large grid approach-steps-container">
    <div class="approach-step">
      <div class="approach-step--header">
        <span class="step-number">01</span>
        <div class="icon-container strategy">
          <img src="assets/img/icons/chess-knight.svg" alt="">
        </div>
      </div>
      <div class="approach-step--footer">
        <h3>Strategy</h3>
        <p>Applying design at the org strategy level</p>
      </div>
    </div>
    <div class="approach-step">
      <div class="approach-step--header">
        <span class="step-number">02</span>
        <div class="icon-container research">
          <img src="assets/img/icons/flask.svg" alt="">
        </div>
      </div>
      <div class="approach-step--footer">
        <h3>Research</h3>
        <p>Having the right info, to solve the right problems</p>
      </div>
    </div>
    <div class="approach-step">
      <div class="approach-step--header">
        <span class="step-number">03</span>
        <div class="icon-container prototyping">
          <img src="assets/img/icons/drafting-compass.svg" alt="">
        </div>
      </div>
      <div class="approach-step--footer">
        <h3>Prototyping</h3>
        <p>Rapidly testing ideas to find the perfect solution</p>
      </div>
    </div>
    <div class="approach-step">
      <div class="approach-step--header">
        <span class="step-number">04</span>
        <div class="icon-container execution">
          <img src="assets/img/icons/magic.svg" alt="">
        </div>
      </div>
      <div class="approach-step--footer">
        <h3>Execution</h3>
        <p>Ensuring output meets the highest possible standards</p>
      </div>
    </div>
  </div>
</div>
