<div id="selected-work" class="selected-work margin-b240">
  <div class="container medium selected-work--title">
    <h2><span class="title-underline">Selected</span> work.</h2>
    <p class="large">I tend to find that the work I write about (the more interesting projects) don’t always have the prettiest solutions. So I wanted to include some more visually compelling work also.</p>
  </div>
  <div class="container large grid">
    <div class="work-item portrait fl-location">
      <div class="work-item-info">
        <span class="work-item--company">Fat Llama</span>
        <h3 class="work-item--title">Location permissions</h3>
      </div>
    </div>
    <div class="work-item landscape gc-dashboard">
      <div class="work-item-info">
        <span class="work-item--company">GoCardless</span>
        <h3 class="work-item--title">Payments dashboard</h3>
      </div>
    </div>
    <div class="work-item landscape dependabot">
      <div class="work-item-info">
        <span class="work-item--company">Dependabot</span>
        <h3 class="work-item--title">Logo and branding</h3>
      </div>
    </div>
    <div class="work-item landscape beagle-site">
      <div class="work-item-info">
        <span class="work-item--company">Beagle</span>
        <h3 class="work-item--title">Marketing site</h3>
      </div>
    </div>
    <div class="work-item portrait memrise-plans">
      <div class="work-item-info">
        <span class="work-item--company">Memrise</span>
        <h3 class="work-item--title">In-app plans page</h3>
      </div>
    </div>
    <div class="work-item portrait fl-search">
      <div class="work-item-info">
        <span class="work-item--company">Fat Llama</span>
        <h3 class="work-item--title">Search UI</h3>
      </div>
    </div>
    <div class="work-item portrait beally-app">
      <div class="work-item-info">
        <span class="work-item--company">Beally</span>
        <h3 class="work-item--title">App concept</h3>
      </div>
    </div>
    <div class="work-item square beamo-logo">
      <div class="work-item-info">
        <span class="work-item--company">Beamo</span>
        <h3 class="work-item--title">Logo and branding</h3>
      </div>
    </div>
  </div>
</div>
