<div id="selected-work" class="selected-work section">
  <div class="container medium selected-work--title">
    <h2><span class="title-underline">Selected</span> work.</h2>
    <p class="large">I tend to find that the work I write about (the more interesting projects) don’t always have the prettiest solutions. So I wanted to include some more visually compelling work also.</p>
  </div>
  <div class="container large grid">
    <div class="work-item portrait fl-location reveal-1">
      <div class="work-item-info">
        <span class="work-item--company">Fat Llama</span>
        <h3 class="work-item--title">Location permissions</h3>
      </div>
    </div>
    <div class="work-item landscape gc-dashboard reveal-2">
      <div class="work-item-info">
        <span class="work-item--company">GoCardless</span>
        <h3 class="work-item--title">Payments dashboard</h3>
      </div>
    </div>
    <div class="work-item landscape dependabot reveal-1">
      <div class="work-item-info">
        <span class="work-item--company">Dependabot</span>
        <h3 class="work-item--title">Logo and branding</h3>
      </div>
    </div>
    <div class="work-item landscape beagle-site reveal-1">
      <div class="work-item-info">
        <span class="work-item--company">Beagle</span>
        <h3 class="work-item--title">Marketing site</h3>
      </div>
    </div>
    <div class="work-item portrait memrise-plans reveal-2">
      <video autoplay loop muted playsinline>
        <source src="assets/img/plans-video.webm" type="video/webm">
        <source src="assets/img/plans-video.mp4" type="video/mp4">
      </video>
      <div class="work-item-info">
        <span class="work-item--company">Memrise</span>
        <h3 class="work-item--title">In-app plans page</h3>
      </div>
    </div>
    <div class="work-item portrait fl-search reveal-1">
      <div class="work-item-info">
        <span class="work-item--company">Fat Llama</span>
        <h3 class="work-item--title">Search UI</h3>
      </div>
    </div>
    <div class="work-item portrait beally-app reveal-2">
      <div class="work-item-info">
        <span class="work-item--company">Beally</span>
        <h3 class="work-item--title">App concept</h3>
      </div>
    </div>
    <div class="work-item square beamo-logo reveal-1">
      <div class="work-item-info">
        <span class="work-item--company">Beamo</span>
        <h3 class="work-item--title">Logo and branding</h3>
      </div>
    </div>
  </div>
</div>
