<div class="selected-work margin-b240">
  <div class="container medium selected-work--title">
    <h2><span class="title-underline">Selected</span> work.</h2>
    <p class="large">I tend to find that the work I write about (the more interesting projects) don’t always have the prettiest solutions. So I wanted to include some more visually compelling work also.</p>
  </div>
  <div class="container large grid">
    <div class="work-item portrait fl-location"></div>
    <div class="work-item landscape gc-dashboard"></div>
    <div class="work-item landscape dependabot"></div>
    <div class="work-item landscape beagle-site"></div>
    <div class="work-item portrait memrise-plans"></div>
    <div class="work-item portrait fl-home"></div>
    <div class="work-item portrait fl-search"></div>
    <div class="work-item square beamo-logo"></div>
  </div>
</div>
