@font-face {
  font-family: "unbounded";
  src: url("/assets/fonts/Unbounded-Variable.woff2") format("woff2 supports variations"),
  url("/assets/fonts/Unbounded-Variable.woff2") format("woff2-variations");
  font-weight: 100 1000;
}