$gray-scale-1:    #ffffff;
$gray-scale-2:    #fafafa;
$gray-scale-3:    #f5f5f5;
$gray-scale-4:    #f0f0f0;
$gray-scale-5:    #d9d9d9;
$gray-scale-6:    #bfbfbf;
$gray-scale-7:    #8c8c8c;
$gray-scale-8:    #595959;
$gray-scale-9:    #313131;
$gray-scale-10:   #262626;
$gray-scale-11:   #1f1f1f;
$gray-scale-12:   #141414;
$gray-scale-13:   #000000;

$background: $gray-scale-12;

$copy-primary: $gray-scale-1;
$copy-secondary: $gray-scale-1;

$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-14: 14px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-32: 32px;
$space-40: 40px;
$space-48: 48px;
$space-56: 56px;
$space-64: 64px;
$space-80: 80px;
$space-160: 160px;
$space-240: 240px;

$nav-height: 61px + $space-24;

$border-radius: $space-24;

$color-primary-100: #D3E8FF;
$color-primary-200: #A7CEFF;
$color-primary-300: #7BB1FF;
$color-primary-400: #5A98FF;
$color-primary-500: #246FFF;
$color-primary-600: #1A55DB;
$color-primary-700: #123FB7;
$color-primary-800: #0B2B93;
$color-primary-900: #061E7A;
$color-primary-transparent-100: rgba(36, 111, 255, 0.08);
$color-primary-transparent-200: rgba(36, 111, 255, 0.16);
$color-primary-transparent-300: rgba(36, 111, 255, 0.24);
$color-primary-transparent-400: rgba(36, 111, 255, 0.32);
$color-primary-transparent-500: rgba(36, 111, 255, 0.4);
$color-primary-transparent-600: rgba(36, 111, 255, 0.48);
$color-success-100: #EDFCD4;
$color-success-200: #D7FAA9;
$color-success-300: #B7F17C;
$color-success-400: #96E35A;
$color-success-500: #69D129;
$color-success-600: #4DB31D;
$color-success-700: #369614;
$color-success-800: #22790D;
$color-success-900: #146407;
$color-success-transparent-100: rgba(105, 209, 41, 0.08);
$color-success-transparent-200: rgba(105, 209, 41, 0.16);
$color-success-transparent-300: rgba(105, 209, 41, 0.24);
$color-success-transparent-400: rgba(105, 209, 41, 0.32);
$color-success-transparent-500: rgba(105, 209, 41, 0.4);
$color-success-transparent-600: rgba(105, 209, 41, 0.48);
$color-info-100: #E0EDFE;
$color-info-200: #C1DAFE;
$color-info-300: #A2C5FE;
$color-info-400: #8AB2FD;
$color-info-500: #6494FC;
$color-info-600: #4971D8;
$color-info-700: #3253B5;
$color-info-800: #1F3892;
$color-info-900: #132678;
$color-info-transparent-100: rgba(100, 148, 252, 0.08);
$color-info-transparent-200: rgba(100, 148, 252, 0.16);
$color-info-transparent-300: rgba(100, 148, 252, 0.24);
$color-info-transparent-400: rgba(100, 148, 252, 0.32);
$color-info-transparent-500: rgba(100, 148, 252, 0.4);
$color-info-transparent-600: rgba(100, 148, 252, 0.48);
$color-warning-100: #FFF6CC;
$color-warning-200: #FFE999;
$color-warning-300: #FFDA67;
$color-warning-400: #FFCB41;
$color-warning-500: #FFB302;
$color-warning-600: #DB9301;
$color-warning-700: #B77501;
$color-warning-800: #935900;
$color-warning-900: #7A4600;
$color-warning-transparent-100: rgba(255, 179, 2, 0.08);
$color-warning-transparent-200: rgba(255, 179, 2, 0.16);
$color-warning-transparent-300: rgba(255, 179, 2, 0.24);
$color-warning-transparent-400: rgba(255, 179, 2, 0.32);
$color-warning-transparent-500: rgba(255, 179, 2, 0.4);
$color-warning-transparent-600: rgba(255, 179, 2, 0.48);
$color-danger-100: #FFE8D4;
$color-danger-200: #FFCBAA;
$color-danger-300: #FFA87F;
$color-danger-400: #FF8660;
$color-danger-500: #FF4E2B;
$color-danger-600: #DB301F;
$color-danger-700: #B71715;
$color-danger-800: #930D16;
$color-danger-900: #7A0818;
$color-danger-transparent-100: rgba(255, 78, 43, 0.08);
$color-danger-transparent-200: rgba(255, 78, 43, 0.16);
$color-danger-transparent-300: rgba(255, 78, 43, 0.24);
$color-danger-transparent-400: rgba(255, 78, 43, 0.32);
$color-danger-transparent-500: rgba(255, 78, 43, 0.4);
$color-danger-transparent-600: rgba(255, 78, 43, 0.48);

$memrise-primary: #FFC936;
$memrise-secondary: #2B3648;

$fatllama-primary: #2CCBBB;
$fatllama-secondary: #030D54;

$gocardless-primary: #154AE5;
$gocardless-secondary: $gray-scale-1;

$phone: 767px;
$tablet: 1023px;
