@import 'fonts';
@import 'normalise';
@import 'variables';

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: $background;
  color: $grey-100;
  font-family: "test", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 360;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  display: flex;
  height: 100%;
}

a {
  // color: $grey-100;
  font-weight: 390;
  background: linear-gradient(to left, #ff5f6d, #ffc371);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  position: relative;
  opacity: 1;
  transition: all 0.3s;
}

a:hover {
  opacity: 0.6;
}

.page {
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  z-index: 1;
}

.nav {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.nav-item--primary {
  color: $grey-100;
  // font-size: 72px;
}

.nav-item--secondary {
  color: $grey-200;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 40px;
}

.content .half {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.content p {
  font-size: 18px;
  line-height: 1.6em;
  color: $grey-200;
}

.content p:first-child {
  color: white;
  font-weight: 390;
}

.blob-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -600px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 80px;
}

.blob {
	fill: #444;
	fill: url(#MyGradient);
  height: 1000px;
  width: 1000px;
  z-index: 0;
  filter: blur(80px);
}