@import 'fonts';
@import 'normalise';
@import 'variables';

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: $background;
  color: $grey-100;
  font-family: "test", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  height: 100%;
  display: flex;
}

a {
  color: $grey-100;
  text-decoration: none;
  position: relative;
  opacity: 1;
  transition: all 0.3s;
}

a:hover {
  color: $grey-200;
}

.page {
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  z-index: 1;
  gap: 4em;
  max-width: 1920px;
  min-width: 320px;
  flex: 1;
  overflow: hidden;

  @media (max-width: $mobile) {
    padding: 24px;
    overflow: scroll;
  }
}

.header {
  display: flex;
  gap: 3em;

  .column.small:last-child {
    @media (max-width: $mobile) {
      display: none;
    }
  }
}

.main {
  display: flex;
  flex: 1;
  gap: 3em;

  .column.centre {
    justify-content: space-between;
  }

  @media (max-width: $tablet) {
    .column.centre {
      justify-content: flex-start;
    }
    
    .column.small {
      display: none;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;

  &.centre {
    flex: 2;
    position: relative;

    @media (max-width: $tablet) {
      flex: 1;
    }
  }

  &.small {
    flex: 1;
    position: relative;
  }
}

.nav-item {
  display: flex;
  flex-direction: column;

    @media (max-width: $tablet) {
      display: flex;
    }
  }


.nav-item--primary {
  color: $grey-100;
  display: flex;
}

.nav-item--secondary {
  color: $grey-200;
}

.blurb p {
  font-size: 16px;
  color: $grey-200;
}

.blurb p:first-child {
  color: $grey-100;
}

.contact-links {
  display: flex;
  flex-direction: row;
  gap: 3em;
  justify-self: flex-end;

  @media (max-width: $tablet) {
    margin-top: 5em;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.contact-link {
  display: flex;
}

.blob-container-left,
.blob-container-right {
  position: absolute;
  height: 100%;
  width: 100%;

  .blob {
    position: absolute;
    fill: url(#Stripey-1);
  }
}

.blob-container-left {
  .blob {
    right: 0;
  }
}

.blob-container-right {
  .blob {
    left: 0;
  }
}

.blob-container-centre {
  display: none;

  .blob {
    fill: url(#Stripey-2);
    position: absolute;
    top: -80px;
  }

  @media (max-width: $tablet) {
    display: flex;
    flex: 1;
    position: relative;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.blob {
	fill: #444;
  z-index: 0;
  height: 1200px;  
  width: 1200px;
}