<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include _nav.html %}
    {{ content }}
    {% include _footer.html %}
    <script type="text/javascript">
          (function() {
      // Init
      var container = document.getElementById("container-js"),
        inner = document.getElementById("inner-js");

      // Mouse
      var mouse = {
        _x: 0,
        _y: 0,
        x: 0,
        y: 0,
        updatePosition: function(event) {
          var e = event || window.event;
          this.x = (e.clientX - this._x) * 0.2;
          this.y = (e.clientY - this._y) * 0.2 + 100;
        },
        setOrigin: function(e) {
          this._x = e.offsetLeft + Math.floor(e.offsetWidth / 2);
          this._y = e.offsetTop + Math.floor(e.offsetHeight / 2);
        },
        show: function() {
          return "(" + this.x + ", " + this.y + ")";
        }
      };

      // Track the mouse position relative to the center of the container.
      mouse.setOrigin(container);

      //-----------------------------------------

      var counter = 0;
      var updateRate = 10;
      var isTimeToUpdate = function() {
        return counter++ % updateRate === 0;
      };

      //-----------------------------------------

      var onMouseEnterHandler = function(event) {
        update(event);
      };

      var onMouseLeaveHandler = function() {
        inner.style = "";
      };

      var onMouseMoveHandler = function(event) {
        if (isTimeToUpdate()) {
          update(event);
        }
      };

      //-----------------------------------------

      var update = function(event) {
        mouse.updatePosition(event);
        updateTransformStyle(
          (mouse.y / inner.offsetHeight / 2).toFixed(2),
          (mouse.x / inner.offsetWidth / 2).toFixed(2)
        );
      };

      var updateTransformStyle = function(x, y) {
        var style = "rotateX(" + x + "deg) rotateY(" + y + "deg)";
        inner.style.transform = style;
        inner.style.webkitTransform = style;
        inner.style.mozTransform = style;
        inner.style.msTransform = style;
        inner.style.oTransform = style;
      };

      //-----------------------------------------

      container.onmouseenter = onMouseEnterHandler;
      container.onmouseleave = onMouseLeaveHandler;
      container.onmousemove = onMouseMoveHandler;
      })();

      console.log("helo");
    </script>
  </body>
</html>
