<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script type="text/javascript">
  		ScrollReveal({ duration: 1000 })
    </script>
  </head>
  <body>
    {% include _nav.html %}
    {{ content }}
    {% include _footer.html %}
    <script type="text/javascript">
      ScrollReveal().reveal('.reveal-1');
      ScrollReveal().reveal('.reveal-2', { delay: 200 });
      ScrollReveal().reveal('.reveal-3', { delay: 400 });
      ScrollReveal().reveal('.reveal-4', { delay: 600 });
    </script>
  </body>
</html>
